scriptEnv:
  XDG_CONFIG_HOME: "$HOME/.config"
  XDG_DATA_HOME: "$HOME/.local/share"
  XDG_STATE_HOME: "$HOME/.local/state"
  XDG_CACHE_HOME: "$HOME/.cache"
  # https://aquaproj.github.io/docs/install#2-set-the-environment-variable-path
  AQUA_ROOT_DIR: "$XDG_DATA_HOME/aquaproj-aqua"
  AQUA_GLOBAL_CONFIG: "$XDG_CONFIG_HOME/aquaproj-aqua/aqua.yaml"
