#!/bin/bash
set -euo pipefail

case "${DEBUG:-}" in
  true|1|yes|on)
    set -x
    ;;
esac

# run this script when Brewfile is changed
# Brewfile hash: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}

export XDG_CONFIG_HOME="${HOME}/.config"

{{ if eq .chezmoi.os "linux" }}
BREW_PREFIX="/home/linuxbrew/.linuxbrew"
{{ else if eq .chezmoi.os "darwin" }}
BREW_PREFIX="/opt/homebrew"
{{ end }}
eval "$(${BREW_PREFIX}/bin/brew shellenv)"

echo -e "\033[1;34m[INFO]\033[0m    Installing tools with brew bundle..."
brew bundle --file="$XDG_CONFIG_HOME/homebrew/Brewfile" -v || true
echo -e "\033[1;32m[SUCCESS]\033[0m brew bundle complete"

echo -e "\033[1;34m[INFO]\033[0m    Cleaning up unmanaged brew packages..."
brew bundle cleanup --file="$XDG_CONFIG_HOME/homebrew/Brewfile" --force || true
echo -e "\033[1;32m[SUCCESS]\033[0m brew bundle cleanup complete"