#!/bin/bash
set -euo pipefail

case "${DEBUG:-}" in
  true|1|yes|on)
    set -x
    ;;
esac

# run this script when aqua.yaml is changed
# aqua.yaml hash: {{ include "dot_config/aquaproj-aqua/aqua.yaml" | sha256sum }}

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export AQUA_ROOT_DIR="$XDG_DATA_HOME/aquaproj-aqua"
export AQUA_GLOBAL_CONFIG="$XDG_CONFIG_HOME/aquaproj-aqua/aqua.yaml"

# [TODO] simplify this
{{ if eq .chezmoi.os "linux" }}
BREW_PREFIX="/home/linuxbrew/.linuxbrew"
{{ else if eq .chezmoi.os "darwin" }}
BREW_PREFIX="/opt/homebrew"
{{ end }}
eval "$(${BREW_PREFIX}/bin/brew shellenv)"

if command -v aqua &>/dev/null; then
  echo -e "\033[1;34m[INFO]\033[0m    Installing tools with aqua..."
  # `aqua i` ignores global configuration by default. To install tools of global configuration by aqua i, set the -a option.
  # https://aquaproj.github.io/docs/tutorial/global-config/#aqua-i-ignores-global-configuration-by-default
  aqua i -a || true
fi