#!/bin/bash
set -euxo pipefail

{{ if eq .chezmoi.os "linux" }}
sudo apt update
sudo apt install -y \
  build-essential \
  ca-certificates \
  curl \
  git \
  gnupg \
  lsb-release \
  zsh
{{ end }}

# install Homebrew
if ! command -v brew &>/dev/null; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  {{ if eq .chezmoi.os "linux" }}
  BREW_PREFIX="/home/linuxbrew/.linuxbrew"
  {{ else if eq .chezmoi.os "darwin" }}
  BREW_PREFIX="/opt/homebrew"
  {{ end }}
  eval "$(${BREW_PREFIX}/bin/brew shellenv)"
fi

# install aqua with Homebrew
if ! command -v aqua &>/dev/null; then
  echo "[+] Installing aqua via brew..."
  brew install aqua
fi

# install tools with aqua
if command -v aqua &>/dev/null; then
  echo "[+] Installing tools via aqua..."
  aqua i
fi

# install tools with Homebrew bundle
if command -v brew &>/dev/null; then
  echo "[+] Installing tools via brew bundle..."
  brew bundle --file="$XDG_CONFIG_HOME/homebrew/Brewfile" || true
fi

# set zsh as the default shell
if command -v zsh &>/dev/null; then
  echo "[+] Setting default shell to zsh..."
  command -v chsh >/dev/null && chsh -s "$(command -v zsh)" || true
fi

echo "[✓] setup complete"