#!/bin/bash
set -euo pipefail

case "${DEBUG:-}" in
  true|1|yes|on)
    set -x
    ;;
esac

echo -e "\033[1;34m[INFO]\033[0m    Running setup script..."

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"
export AQUA_ROOT_DIR="$XDG_DATA_HOME/aquaproj-aqua"

{{ if eq .chezmoi.os "linux" }}
echo -e "\033[1;34m[INFO]\033[0m    Installing dependencies..."
sudo apt update
sudo apt install -y \
  build-essential \
  curl \
  git \
  zsh
echo -e "\033[1;32m[SUCCESS]\033[0m dependencies installed"
{{ end }}

# install Homebrew
if ! command -v brew &>/dev/null; then
  echo -e "\033[1;34m[INFO]\033[0m    Installing Homebrew..."
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  echo -e "\033[1;32m[SUCCESS]\033[0m Homebrew installed"
fi

# set zsh as the default shell
if command -v zsh &>/dev/null; then
  echo -e "\033[1;34m[INFO]\033[0m    Setting default shell to zsh..."
  command -v chsh >/dev/null && sudo chsh $USER -s "$(command -v zsh)" || true
fi

echo -e "\033[1;32m[SUCCESS]\033[0m setup complete"