#!/bin/bash
set -euo pipefail

case "${DEBUG:-}" in
  true|1|yes|on)
    set -x
    ;;
esac

# run this script when aqua.yaml is changed
# aqua.yaml hash: {{ include "dot_config/aquaproj-aqua/aqua.yaml" | sha256sum }}

export PATH="$HOME/.local/bin:$PATH"

if command -v aqua &>/dev/null; then
  echo -e "\033[1;34m[INFO]\033[0m    Installing tools with aqua..."
  # `aqua i` ignores global configuration by default. To install tools of global configuration by aqua i, set the -a option.
  # https://aquaproj.github.io/docs/tutorial/global-config/#aqua-i-ignores-global-configuration-by-default
  aqua i -a || true
fi