[credential]
  {{- if eq .chezmoi.os "darwin" }}
  helper = osxkeychain
  {{- else if eq .chezmoi.os "linux" }}
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
  {{- end }}