brew "aqua"
brew "eza"
brew "postgresql@15"
brew "starship"
brew "tmux"

{{ if eq .chezmoi.os "darwin" }}
cask "1password-cli"
cask "docker"
cask "font-maple-mono-nf-cn"
cask "google-cloud-sdk"
{{ end }}
